{% extends "base.html" %}
{% load static %}

{% block body %}
<div class="chat-container">
    <h2 id="history">Chat Bot</h2>
    <div class="chat-messages">
        {% for message in chat_history %}
            {% if message.role == 'user' %}
                <div class="user-message">
                    {{ message.content }}
                </div>
            {% elif message.role == 'assistant' %}
                <div class="bot-message">
                    <strong>AminBot:</strong> {{ message.content }}
                </div>
            {% endif %}
        {% endfor %}
    </div>
    <div class="chat-input-container">    
        <form method="post" id="form-chat">
            {% csrf_token %}
            <div class="chat-input-wrapper">
                <input type="text" name="message" placeholder="Type your message..." required>
                <button type="submit" id="button-send"></button>
            </div>
        </form>
    </div>
</div>
{% endblock %}