{% extends "base.html" %}

{% block body %}
<div id='about-content'>
    <h1 class="home-about-page" id='about-page'>About us</h1>
    
    <div class="feature-cards-container">
        <div class="feature-card">
            <div class="feature-card-inner">
                <div class="feature-card-front">
                    <h3>Blogging</h3>
                </div>
                <div class="feature-card-back">
                    <p>Create and share your thoughts with our powerful blogging platform. Add comments and engage with others.</p>
                </div>
            </div>
        </div>
        
        <div class="feature-card">
            <div class="feature-card-inner">
                <div class="feature-card-front">
                    <h3>Chat AI</h3>
                </div>
                <div class="feature-card-back">
                    <p>Interact with our intelligent chatbot to get answers to your questions and assistance whenever you need it.</p>
                </div>
            </div>
        </div>
        
        <div class="feature-card">
            <div class="feature-card-inner">
                <div class="feature-card-front">
                    <h3>Community</h3>
                </div>
                <div class="feature-card-back">
                    <p>Join our growing community of like-minded individuals to share ideas and collaborate on projects.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}
