{% extends "base.html" %}

{% block body %}
<div id='about-content'>
    <h1 class="home-about-page" id='about-page'>About us</h1>
    
    <div class="team-container">
        <div class="team-member">
            <div class="team-img-container">
                <div class="team-img backend-dev"></div>
            </div>
            <h2>Mohammad Amin Ahmadi</h2>
            <h3>Backend Developer</h3>
            <p>I’m Mohammad Amin Ahmadi, a skilled backend developer who designed and implemented the core infrastructure of this website, ensuring seamless performance and reliable functionality.</p>
        </div>
        
        <div class="team-member">
            <div class="team-img-container">
                <div class="team-img frontend-dev"></div>
            </div>
            <h2>Hossein Farjadi</h2>
            <h3>Frontend Developer</h3>
            <p>I’m Hossein Farjadi, a creative frontend developer who designed and built the user interface of this website. Using my expertise in HTML, CSS, and JavaScript, I turned ideas into a responsive and user-friendly experience, enhanced with smooth animations and a consistent design system.</p>
        </div>
    </div>
</div>
{% endblock body %}
