body {
    background-image: url(home.jpg);
    background-size: cover;
    background-position: center;
    padding-top: 150px;
}

#about-body {
    background-image: url(about.jpg);
    background-size: cover;
    background-position: center;
    padding-top: 150px;
}

#blogs-body {
    background-image: url(blog.jpg );
    background-size: cover;
    background-position: center;
    padding-top: 150px;
}

#login-body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-image: url(login.jpg);
    background-size: cover;
    background-position: center;
}

#header {
    position: fixed;
    top: 0;
    width: 96.3%;
    height: 13%;
    z-index: 1000;
    margin-top: 10px;
    background-color:rgb(85, 0, 0);
    border: 10px solid rgb(106, 106, 106);
    font-size: xx-large;
    font-weight: 900;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-shadow: 0px 0px 60px rgb(172, 0, 0) inset;
    padding: 10px;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-radius: 15px;
    transition: all 0.s ease-in-out;

    .header-items {
        color: black;
        padding: 7px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border: 4px solid black;
        text-decoration: none;
        padding-left: 10px;
        padding-right: 10px;
        margin-top: 20px;
        border-radius: 8px;
        transition: all 0.6s ease-in-out;
    }

    #home {
        background-color: rgb(140, 0, 255);
    }

    #blogs {
        background-color: aqua;    
    }

    #about {
        background-color:#0059ff;
    }

    #login {
        background-color: rgb(155, 215, 36);
    }

    #home:hover {
        background-color: black;
        color: #AA00FF;
        border: 4px solid #AA00FF;
        box-shadow: 0px 0px 35px  #AA00FF inset ;
        text-shadow: 0px 0px 30px  #AA00FF ;
    }

    #about:hover {
        background-color: black;
        color: #0ea2f8;
        border: 4px solid #0ea2f8;
        box-shadow: 0px 0px 30px  #0ea2f8 inset;
        text-shadow: 0px 0px 25px  #0ea2f8 ;
    }

    #blogs:hover {
        background-color: black;
        color: cyan;
        border: 4px solid cyan;
        box-shadow: 0px 0px 25px  cyan inset;
        text-shadow: 0px 0px 20px  cyan ;
    }

    #login:hover {
        background-color: black;
        color: rgb(57, 238, 16);
        border: 4px solid rgb(57, 238, 16);
        box-shadow: 0px 0px 25px  rgb(57, 238, 16) inset;
        text-shadow: 0px 0px 20px  rgb(57, 238, 16) ;
    }
}

.home-about-page {
    color: rgb(255, 255, 255);
    padding-left: 20px;
    margin-top: 30px;
    padding: 5px;
    background-color: black;
    border-radius: 5px;
    padding-left: 20px;
}

#home-page {
    border-bottom: 3px solid rgb(132, 0, 255) ;
}

#about-page {
    border-bottom: 3px solid rgb(0, 102, 255) ;
}

#logout {
    background-color: red;
    font-size: 130%;
    font-size: xx-large;
    font-weight: 900;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#logout:hover {
    background-color: black;
    color: red;
    border: 4px solid red;
    box-shadow: 0px 0px 20px  red inset;
    text-shadow: 0px 0px 25px  red ;
}

.welcome {
    background-color: black;
    color: white;
    font-size: 170%;
    border-bottom: 5px solid   blue;
    border-top: 5px solid rgb(132, 0, 255);
    border-radius: 7px;
    padding: 7px;

    .name-user {
    color: cyan;
    font-size: 40px;
    }
}

.blog-detail {
    border: 5px solid cyan;
    padding: 10px;
    background-color: black;
    border-radius: 10px;
    margin-top: 20px;
}

.blog-edit {
    border: 5px solid cyan;
    padding: 10px;
    background-color: black;
    margin-top: 20px;
    border-radius: 10px;
}

.name {
    font-size: 25px;
    font-weight: 800;
    color: rgb(57, 238, 16);;
}

#warning-name {
    font-size: 35;
    color: red;
}

#title-post-name {
    font-size: 35;
}

#blogs-list {
    background-color: black;
    border: 5px solid cyan;
    background-attachment: scroll;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 7px;
    padding: 7px;
    border-radius: 5px;
    font-size: 170%; 
    margin-top: 20px;
    max-height: 120px;
    overflow-y: auto;
    overflow-x: hidden;
    align-items: center;
}

#blogs-list-items {
    color: cyan;
    line-height: 1.3;
    display: flex;
    align-items: center;
    height: 100%; 
}

.confirm-button {
    border: 5px solid greenyellow;
    background-color: green;
    border-radius: 10px;
    font-size: 40px;
    text-decoration: none;
    padding: 10px;
    color: black;
    transition: all 0.5s ease-in-out;
    padding-inline: 33px;
}

.confirm-button:hover {
    color: greenyellow;
    background-color: black;
    border: 5px solid green;
}

.add-button {
    border: 5px solid black;
    background-color: deepskyblue;
    border-radius: 10px;
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 
    'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 600;
    text-decoration: none;
    padding: 10px;
    color: black;
    transition: all 0.5s ease-in-out;
}
  
.add-button:hover {
    color: deepskyblue;
    background-color: black; 
    border: 5px solid cyan;
}

.delete-button {
    border: 5px solid rgb(255, 0, 0);
    background-color: rgb(148, 0, 0);
    border-radius: 10px;
    font-size: 40px;
    text-decoration: none;
    padding: 10px;
    color: black;
    margin-left: 5px;
    transition: all 0.5s ease-in-out;
}

.delete-button:hover {
    color: rgb(255, 0, 0);
    background-color: black;
    border: 5px solid rgb(148, 0, 0);
}

#p-login-first {
    font-size: 40px;
    border-bottom: 3px solid cyan;
    background-color: black;
    font-size: 35px;
    padding: 7px;
    border-radius: 7px;
    padding-left: 15px;
    margin-top: 10px;
}

.delete-Button-yes-and-no {
    background-color: white;
    font-size: 30px;
    padding-inline: 10px;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 5px;
    font-weight: 500;
    border: none;
}

#delete-button-no{
    font-size: 28px;
    padding: 2.5px 18px;
    color: black;
    text-decoration: none;
    
}

.all-texts-blogs {
    color: white;
}

#p {
    color: cyan;
}

.form-edit-and-add {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

#new-post {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#login {
    background-color: black;
    color: white;
    text-shadow: 0px 0px 15px  rgb(57, 238, 16);
    padding: 40px 30px;
    border-radius: 10px;
    border: 2px solid rgb(57, 238, 16);
    box-shadow: 0px 0px 17px  rgb(57, 238, 16) inset;
}   

#login-h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#button-form-login {
    width: 250px;
    margin-top: 15px;
    font-size: 18px;
    border-radius: 7px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    cursor: pointer;
    background-color: black;
    border: 2px  solid white;
    color: rgb(57, 238, 16);
    text-shadow: 0px 0px 15px rgb(57, 238, 16);
    box-shadow: 1px 1px 6px white inset;
    padding-block: 3px;
}

#password-name input {
    outline: none;
    border: none;
    width: 100%;
    border: 2px solid rgb(120, 120, 120);
    border-radius: 20px;
    height: 4%;
    background-color: transparent;
    color: white;
    box-shadow: 2px 2px 12px rgb(120, 120, 120) inset;
    margin-top: 5px;
}

#password-name input:focus {
    border: 2px solid cyan;
    box-shadow: 0px 0px 18px cyan;
}

#password-name label {
    margin-left: 5px;
    color: rgb(255, 255, 255);
    text-shadow: 0px 0px 20px rgb(57, 238, 16);
}

.form-edit-and-add input[type="submit"] {
    width: 200px;
    font-size: 20px;
    color: cyan;
    background-color: black;
    border-radius: 7px;
    border: none;
    border: 2px solid rgb(126, 126, 126);
    padding-top: 5px;
    margin-top: -5px;
    margin-bottom: 5px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.form-edit-and-add input[type="submit"]:hover {
    background-color: black;
    color: cyan;
    border: 2px solid cyan;
    box-shadow: 0px 0px 10px cyan;
}

.blog-detail-add-edit {
    backdrop-filter: blur(100px);
    border-radius: 20px;
    border: 7px solid cyan;
    padding: 20px;
    width: 600px;
    margin: 0 auto;
    margin-top: 20px;
    box-shadow: 0px 0px 20px cyan inset;
}

#edit-h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}