{% extends "blog_base.html" %}

{% block body %}
<body id='blogs-body'>
<div class='blog-detail'>
    <h1 class='all-texts-blogs'>{{post.title}}</h1>
    <hr>
    <h2 class='all-texts-blogs'>{{post.text}}</h2>
    <br>
    <h3 class='all-texts-blogs'>written by <span class='name'>{{post.author.username}}</span></h3>
</div>

{% if user.username == post.author.username %}
<br>
<br>
<div class='edit-delete-buttons'>
<a class='confirm-button' href='{% url 'blog_edit' post.id %}'>Edit</a>
<a class='delete-button' href='{% url 'blog_delete' post.id %}'>Delete</a>
</div>
</body>
{% endif %}

{% endblock body %}